enable-pre-post-scripts = true
# TODO why is this needed? Can we use publicHoistPatterns instead?
shamefully-hoist = true

public-hoist-pattern[]=sanity
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*@csstools*
