---
name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read # for checkout

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      # NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_SANITY_PROJECT_ID }}
      # NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.NEXT_PUBLIC_SANITY_DATASET }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          cache: pnpm
          node-version: lts/*
      - run: corepack enable && pnpm --version
      - name: Authenticate with private NPM package @sanity/sanitype
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPMRC }}" > ~/.npmrc
      - run: pnpm install --ignore-scripts --no-frozen-lockfile
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm typecheck

  test:
    needs: build
    timeout-minutes: 15
    strategy:
      # A test failing on windows doesn't mean it'll fail on macos. It's useful to let all tests run to its completion to get the full picture
      fail-fast: false
      matrix:
        # https://nodejs.org/en/about/releases/
        # https://pnpm.io/installation#compatibility
        # @TODO re-enable `current` once it recovers
        # node: [lts/-1, lts/*, current]
        node: [lts/-1, lts/*]
        os: [ubuntu-latest]
        # Also test the LTS on mac and windows
        include:
          - os: macos-latest
            node: lts/*
          # - os: windows-latest
          #   node: lts/*
    runs-on: ${{ matrix.os }}
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      # It's only necessary to do this for windows, as mac and ubuntu are sane OS's that already use LF
      - if: matrix.os == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          cache: pnpm
          node-version: ${{ matrix.node }}
      - run: corepack enable && pnpm --version
      - name: Authenticate with private NPM package @sanity/sanitype
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPMRC }}" > ~/.npmrc
      - run: pnpm install --loglevel=error --ignore-scripts --no-frozen-lockfile
      - run: pnpm test
