---
name: Deprecate Overlays

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read # for checkout

jobs:
  deprecate-overlays:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_DEPRECATE_TOKEN }}" > ~/.npmrc
      - run: npm deprecate "@sanity/overlays@2.3.x" "migrate to @sanity/visual-editing" || true
